section
  h3(id='app.locals') app.locals

  p.
    应用程序本地变量会附加给所有的在这个应用程序内渲染的模板。
    这是一个非常有用的模板函数，就像应用程序级数据一样。

  +js.
    app.locals.title = 'My App';
    app.locals.strftime = require('strftime');

  p.
    <code>app.locals</code> 对象是一个JavaScript <code>Function</code>,
    执行的时候它会把属性合并到它自身，提供了一种简单展示已有对象作为本地变量的方法

  +js.
    app.locals({
      title: 'My App',
      phone: '1-250-858-9990',
      email: 'me@myapp.com'
    });

    app.locals.title
    // => 'My App'

    app.locals.email
    // => 'me@myapp.com'

  p.
    默认情况下Express只有一个应用程序级本地变量，它是 <code>settings</code>.

  +js.
    app.set('title', 'My App');
    // 在view里使用 settings.title
    
