section
  h3(id='app.configure') app.configure([env], callback)

  p.
    当 <code>env</code> 和 <code>app.get('env')</code>(也就是 <code>process.env.NODE_ENV</code>) 匹配时, 调用<code>callback</code>。保留这个方法是出于历史原因，后面列出的<code>if</code>语句的代码其实更加高效、直接。使用<code>app.set()</code>配合其它一些配置方法后,<em>没有</em>必要再使用这个方法。

  +js.
    // 所有环境
    app.configure(function(){
      app.set('title', 'My Application');
    })

    // 开发环境
    app.configure('development', function(){
      app.set('db uri', 'localhost/dev');
    })
    
    // 只用于生产环境
    app.configure('production', function(){
      app.set('db uri', 'n.n.n.n/prod');
    })


  更高效且直接的代码如下：

  +js.
    // 所有环境
    app.set('title', 'My Application');

    // 只用于开发环境
    if ('development' == app.get('env')) {
      app.set('db uri', 'localhost/dev');
    }
    
    // 只用于生产环境
    if ('production' == app.get('env')) {
      app.set('db uri', 'n.n.n.n/prod');
    }
