section
  h3(id='app.render') app.render(view, [options], callback)

  p.
    渲染 <code>view</code>, <code>callback</code> 用来处理返回的渲染后的字符串。
    这个是 <code>res.render()</code> 的应用程序级版本，它们的行为是一样的。

  +js.
    app.render('email', function(err, html){
      // ...
    });

    app.render('email', { name: 'Tobi' }, function(err, html){
      // ...
    });
