section
  h3(id='app.disable') app.disable(name)

  p.
    将设置项 <code>name</code> 的值设为 <code>false</code>.

  +js.
    app.disable('trust proxy');
    app.get('trust proxy');
    // => false
