section
  h3(id='app.configure') app.configure([env], callback)

  p.
    当 <code>env</code> 和  <code>app.get('env')</code>(其实就是 <code>process.env.NODE_ENV</code>)匹配时,执行<code>callback</code>。这个函数被由于历史原因被留下来了，下面列出来的<code>if</code>代码其实更高效。使用了<code>app.set()</code>和其它一些配置函数后这这个函数<em>没有</em>必要存在的。

  +js.
    // all environments
    app.configure(function(){
      app.set('title', 'My Application');
    })

    // development only
    app.configure('development', function(){
      app.set('db uri', 'localhost/dev');
    })
    
    // production only
    app.configure('production', function(){
      app.set('db uri', 'n.n.n.n/prod');
    })


  更高效的代码如下：

  +js.
    // all environments
    app.set('title', 'My Application');

    // development only
    if ('development' == app.get('env')) {
      app.set('db uri', 'localhost/dev');
    }
    
    // production only
    if ('production' == app.get('env')) {
      app.set('db uri', 'n.n.n.n/prod');
    }
