section
  h3(id='app.get') app.get(name)

  p.
    获取设置项 <code>name</code> 的值

  +js.
    app.get('title');
    // => undefined

    app.set('title', 'My Site');
    app.get('title');
    // => "My Site"
