section
  h3(id='app.enabled') app.enabled(name)

  p.
    检查设置项 <code>name</code> 是否已启用

  +js.
    app.enabled('trust proxy');
    // => false

    app.enable('trust proxy');
    app.enabled('trust proxy');
    // => true
