section
  h3(id='bodyParser') bodyParser()

  p.
    支持 JSON, urlencoded和multipart requests的请求体解析中间件。
    这个中间件是<code>json()</code>, <code>urlencoded()</code>,和<code>multipart()</code> 这几个中间件的简单封装

  +js.
    app.use(express.bodyParser());

    // is equivalent to:
    app.use(express.json());
    app.use(express.urlencoded());
    app.use(express.multipart());
