section
  h3(id='basicAuth') basicAuth()

  p.
    基本的认证中间件，在<code>req.user</code>里添加用户名

  p 用户名和密码的例子:

  +js.
    app.use(express.basicAuth('username', 'password'));

  p 校验回调:

  +js.
     app.use(express.basicAuth(function(user, pass){
       return 'tj' == user && 'wahoo' == pass;
     }));

  p.
    异步校验接受参数<code>fn(err, user)</code>,
    下面的例子<code>req.user</code> 将会作为user对象传递.

  +js.
    app.use(connect.basicAuth(function(user, pass, fn){
      User.authenticate({ user: user, pass: pass }, fn);
    }))
