section
  h3(id='bodyParser') bodyParser()

  p.
    支持 JSON, urlencoded和multipart requests的请求体解析中间件。
    这个中间件是<code>json()</code>, <code>urlencoded()</code>,和<code>multipart()</code> 这几个中间件的简单封装

  +js.
    app.use(express.bodyParser());

    // 等同于:
    app.use(express.json());
    app.use(express.urlencoded());
    app.use(express.multipart());

  p.
    从安全上考虑，如果你的应用程序不需要文件上传功能，最好关闭它。我们只使用我们需要的中间件。例如：我们不使用<code>bodyParser</code>、<code>multipart()</code> 
    这两个中间件。

  +js.
    app.use(express.json());
    app.use(express.urlencoded());

  p.
    如果你的应用程序需要使用文件上传，设置一下就行。
    <a href='https://groups.google.com/d/msg/express-js/iP2VyhkypHo/5AXQiYN3RPcJ'>一个简单的介绍如何使用</a>.
