
section
  h3(id='directory') directory()

  p.
    文件夹服务中间件，用 <code>path</code> 提供服务。

  +js.
    app.use(express.directory('public'))
    app.use(express.static('public'))

  p.
    这个中间件接收如下参数：

  ul
    li<code>hidden</code> 显示隐藏文件，默认为false.
    li<code>icons</code>  显示图标，默认为false.
    li<code>filter</code> 在文件上应用这个过滤函数。默认为false.
  
