section
  h3(id='req.accepts') req.accepts(types)

  p.    
    检查给定的<code>types</code> 是不是可以接受类型，当可以接受时返回最匹配的，否则返回<code>undefined</code> - 这个时候你应该响应一个406 "Not Acceptable".

  p.
    <code>type</code> 的值可能是单一的一个mime类型字符串,比如 "application/json", 扩展名为"json", 也可以为逗号分隔的列表或者数组。当给定的是数组或者列表，返回<em>最佳</em>匹配的。

  +js.
    // Accept: text/html
    req.accepts('html');
    // => "html"
  
    // Accept: text/*, application/json
    req.accepts('html');
    // => "html"
    req.accepts('text/html');
    // => "text/html"
    req.accepts('json, text');
    // => "json"
    req.accepts('application/json');
    // => "application/json"
  
    // Accept: text/*, application/json
    req.accepts('image/png');
    req.accepts('png');
    // => undefined
  
    // Accept: text/*;q=.5, application/json
    req.accepts(['html', 'json']);
    req.accepts('html, json');
    // => "json"
