section
  h3(id='req.get') req.get(field)
  p 
    | 获取请求头里的<code>field</code>的值，大小写不敏感.
    | <em>Referrer</em> 和 <em>Referer</em> 字段是可以互换的。

  +js.
    req.get('Content-Type');
    // => "text/plain"
  
    req.get('content-type');
    // => "text/plain"
  
    req.get('Something');
    // => undefined

  p 别名为 <code>req.header(field)</code>.
