section
  h3(id='req.files') req.files

  p.
    这是上传的文件的对象。这个特性是<code>bodyParser()</code> 中间件提供,其它的请求体解析中间件可以放在这个中间件之后。当<code>bodyParser()</code>中间件使用后，这个对象默认为 <code>{}</code>。 

  p.
    例如 <strong>file</strong> 字段被命名为"image",
    当一个文件上传完成后，<code>req.files.image</code> 将会包含下面的 <code>File</code> 对象:

  +js.
    { size: 74643,
      path: '/tmp/8ef9c52abe857867fd0a4e9a819d1876',
      name: 'edge.png',
      type: 'image/png',
      hash: false,
      lastModifiedDate: Thu Aug 09 2012 20:07:51 GMT-0700 (PDT),
      _writeStream: 
       { path: '/tmp/8ef9c52abe857867fd0a4e9a819d1876',
         fd: 13,
         writable: false,
         flags: 'w',
         encoding: 'binary',
         mode: 438,
         bytesWritten: 74643,
         busy: false,
         _queue: [],
         _open: [Function],
         drainable: true },
      length: [Getter],
      filename: [Getter],
      mime: [Getter] }

  p.
    <code>bodyParser()</code> 中间件是在内部使用<a href="https://github.com/felixge/node-formidable">node-formidable</a>来处理文件请求，所以接收的参数是一致的。 举个例子，使用formidable的选项<code>keepExtensions</code> , 它默认为 <strong>false</strong> , 在上面的例子可以看到给出的文件名"/tmp/8ef9c52abe857867fd0a4e9a819d1876" 不包含".png" 扩展名.  为了让它可以保留扩展名，你可以把参数传给 <code>bodyParser()</code>:

  +js.
    app.use(express.bodyParser({ keepExtensions: true, uploadDir: '/my/files' }));
