section
  h3(id='res.render') res.render(view, [locals], callback)

  p.
    渲染<code>view</code>, 同时向callback 传入渲染后的字符串。

    callback如果不传的话，直接会把渲染后的字符串输出至请求方，
    一般如果不需要再对渲染后的模板作操作，就不需要传callback。

    当有错误发生时<code>next(err)</code>会被执行.
    如果提供了callback参数，可能发生的错误和渲染的字符串都会被当作参数传入,
    并且没有默认响应。

  +js.
    res.render('index', function(err, html){
      // ...
    });

    res.render('user', { name: 'Tobi' }, function(err, html){
      // ...
    });
