section
  h3(id='res.sendfile') res.sendfile(path, [options], [fn]])

  p 传输<code>path</code>的文件.
  
  p.
    它会根据文件的扩展名自动设置响应头里的Content-Type字段。
    回调函数<code>fn(err)</code>在传输完成或者发生错误时会被调用执行。

  p Options:

  ul
    li <code>maxAge</code> 毫秒，默认为0
    li <code>root</code> 文件相对的路径

  p.
    这个方法可以非常良好的支持有缩略图的文件服务。

  +js.
    app.get('/user/:uid/photos/:file', function(req, res){
      var uid = req.params.uid
        , file = req.params.file;
    
      req.user.mayViewFilesFrom(uid, function(yes){
        if (yes) {
          res.sendfile('/uploads/' + uid + '/' + file);
        } else {
          res.send(403, 'Sorry! you cant see that.');
        }
      });
    });
