section
  h3(id='res.links') res.links(links)
  
  p.
    合并给定的<code>links</code>, 并且设置给响应头里的"Link" 字段.

  +js.
    res.links({
      next: 'http://api.example.com/users?page=2',
      last: 'http://api.example.com/users?page=5'
    });

  p 转换后:

  pre
    code.
      Link: &lt;http://api.example.com/users?page=2&gt;; rel="next", 
            &lt;http://api.example.com/users?page=5&gt;; rel="last"
