section
  h3(id='res.jsonp') res.jsonp([status|body], [body])
  
  p.
    返回一个支持JSONP的JSON响应。
    Send a JSON response with JSONP support. 
    这个方法同样使用了<code>res.json()</code>, 
    只是加了一个可以自定义的 JSONP 回调支持。

  +js.
    res.jsonp(null)
    // => null

    res.jsonp({ user: 'tobi' })
    // => { "user": "tobi" }

    res.jsonp(500, { error: 'message' })
    // => { "error": "message" }

  p.
    默认情况下JSONP 回调的函数名就是<code>callback</code>。
    你可以通过<a href="#app-settings">jsonp callback name</a>来修改这个值。
    下面是一些使用JSONP的例子。

  +js.
    // ?callback=foo
    res.jsonp({ user: 'tobi' })
    // => foo({ "user": "tobi" })

    app.set('jsonp callback name', 'cb');

    // ?cb=foo
    res.jsonp(500, { error: 'message' })
    // => foo({ "error": "message" })
    
