!!! 5
html
  head
    title Express - 应用展示
    include includes/head
  body.applications.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/applications.html'
        include includes/menu
      include zh-cn/applications
    include includes/footer
