!!! 5
html
  head
    title Express - 社区
    include includes/head
  body.community.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/community.html'
        include includes/menu
      include zh-cn/community
    include includes/footer
