!!! 5
html
  head
    title Express - 问答
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = './faq.html'
        include includes/menu
      #faq
        include zh-cn/faq
    include includes/footer
