!!! 5
html
  head
    title Express - 中文文档( node.js Web应用框架 )
    include includes/head
  body
    .bar
    section#content
      header
        include includes/logo
        active = '/'
        include includes/menu
     section#logos
       .content
         include includes/app-logos
     section#intro
       .content
         include includes/intro
    include includes/footer
