
mixin image(name)
  img(src='/images/apps/screenshots/#{name}.png')

mixin link(title, url)
  .link
    | Visit 
    a(href=url)= title

section.application
  h2 期待更多!
  p.
    初步的调查大概有超过<strong>26,000</strong> Express应用程序在线上，我们不可能把所有的都列在这里，如果你觉得你的应用可以帮助展示这个框架，可以到<a href="https://github.com/jserme/expressjs.com/issues">这里</a>新建一个帖子
  +image('more')

section.application
  h2 一点秘密
  p.
    一点秘密是一个心灵治愈社区，你可以匿名发表你的心事，也可以帮助别人解决心里的困扰。

  +link('一点秘密', 'http://yidianmimi.com/')
  +image('yidianmimi')

section.application
  h2 LearnBoost
  p.
    LearnBoost provides a free, easy to use online
    online education suite including gradebook,
    lesson plans, attendance, reporting, and calendars
    among other tools.

  +link('LearnBoost', 'https://www.learnboost.com/')
  +image('learnboost')

section.application
  h2 Storify
  p.
    Create stories using social media. Turn what people post 
    on social media into compelling stories.  Collect the best photos, video, 
    tweets and more to publish

  +link('Storify', 'http://storify.com/')
  +image('storify')

section.application
  h2 Geekli.st
  p.
    A place for geeks to share what they've done, who they did it with and 
    connect with great companies and communities.

  +link('Geekli.st', 'http://geekli.st')
  +image('geeklist')

section.application
  h2 Klout
  p.
    Klout is the Standard for Influence. Join Klout to discover your 
    influence and compare with others you may know.

  +link('Klout', 'http://klout.com')
  +image('klout')

section.application
  h2 Prismatic
  p.
    Prismatic learns from how you interact on social networks so that we 
    can show you the most interesting content and conversation from your friends.
    
  +link('Prismatic', 'http://getprismatic.com/')
  +image('prismatic')

section.application
  h2 Clipboard
  p.
    Clipboard is a powerful tool allowing to save live clips
    of your interests on the web, not just static images,
    but fully-functional fragments of anything online.

  +link('Clipboard', 'http://clipboard.com/')
  +image('clipboard')

section.application
  h2 Persona
  p.
    Persona, or "BrowserID" is Mozilla's answer
    to a better identification system for your browser,
    this promising tool is definitely worth checking out.

  +link('Persona', 'https://login.persona.org/')
  +image('browserid')

