#boxes.clearfix
  section#mailing-list
    h3 邮件列表 
    p.
      加入拥有超过1500个Express用户或者浏览超过5000个讨论的<a href="https://groups.google.com/group/express-js">Google 小组</a>.

  section#irc
    h3 IRC 频道
    p.
      数以百计的开发者每天会在freenode的#express频道闲逛，如果你有关于这个框架的问题，加入频道，很快就能得到反馈 

  section#examples
    h3 例子
    p.
      查看大量的Express程序<a href="https://github.com/visionmedia/express/tree/master/examples">例子</a>
      这个代码仓库里涵盖了从API设计、认证、模板引擎交互等各种内容

  section#issues
    h3 问题反馈
    p.
      如果你恰巧碰到了你认为是个bug的地方，你可以到<a href="https://github.com/visionmedia/express/issues">问题列表处新建一个问题</a>
  
  section#extending
    h3 第三方组件 
    p.
      我们充满活力的社区已经有大量各式各样的扩展，<a href="https://github.com/senchalabs/connect/wiki">中间件</a>，更高层次的框架，可以在我们的<a href="https://github.com/visionmedia/express/wiki">维基</a>里查看

  section#2x
    h3 Express 2.x 文档
    p.
      寻找 2.x 的文档? 它在 <a href="http://expressjs.com/2x">这里</a>.
