section
  h3(id='app.all') app.all(path, [callback...], callback)

  p.
    这个方法很像<code>app.VERB()</code> , 但是它匹配所有的HTTP动作 

  p.
    这个方法在给特定前缀路径或者任意路径上处理时会特别有用。

    
    比如你想把下面的路由放在所有其它路由之前，它需要所有从这个路由开始的加载验证，并且自动加载一个用户
    记住所有的回调都不应该被当作终点， <code>loadUser</code> 能够被当作一个任务，然后<code>next()</code>去匹配接下来的路由。

  +js.
    app.all('*', requireAuthentication, loadUser);

  p.
    Or the equivalent:

  +js.
    app.all('*', requireAuthentication)
    app.all('*', loadUser);

  p.
    另一个非常赞的例子是全局白名单函数。这里有一个例子跟前一个很像，但是它限制前缀为"/api": 
  +js.
    app.all('/api/*', requireAuthentication);
