section
  h3(id='req.query') req.query

  p.
    这是一个解析过的请求参数对象，默认为<code>{}</code>.

  +js.
    // GET /search?q=tobi+ferret
    req.query.q
    // => "tobi ferret"

    // GET /shoes?order=desc&shoe[color]=blue&shoe[type]=converse
    req.query.order
    // => "desc"

    req.query.shoe.color
    // => "blue"

    req.query.shoe.type
    // => "converse"
