section
  h3(id='res.locals') res.locals

  p.
    在某一次请求范围下的响应体的本地变量，只对此次请求期间的views可见。
    另外这个API其实和 <a href="#app.locals">app.locals</a>是一样的.

  p.
    这个对象在放置请求级信息时非常有用，比如放置请求的路径名，验证过的用户，用户设置等等

  +js.
    app.use(function(req, res, next){
      res.locals.user = req.user;
      res.locals.authenticated = ! req.user.anonymous;
      next();
    });
