section
  h3(id='res.clearCookie') res.clearCookie(name, [options])
  p.
    把<code>name</code>的cookie清除. 
    <code>path</code>参数默认为 "/".

  +js.
    res.cookie('name', 'tobi', { path: '/admin' });
    res.clearCookie('name', { path: '/admin' });
