!!! 5
html
  head
    title Express - api参考
    include ../includes/head
  body.inner
    .bar
    section#content
      header
        include ../includes/logo
        active = '/3x_zh-cn/api.html'
        include ../includes/menu

      include ../includes/mixins
      
      include api/menu

      #right
        include api/express

        h2 Application
        a(name='application')
        include api/app
      
        h2 Request
        a(name='request')
        include api/req

        h2 Response
        a(name='response')
        include api/res

        h2 Middleware
        a(name='middleware')
        include api/middleware

    include ../includes/footer
