section
  h3(id='csrf') csrf()

  p.
    CSRF 防护中间件
  
  p.
    默认情况下这个中间件会产生一个名为"_csrf"的标志，这个标志应该添加到那些需要服务器更改的请求里，可以放在一个表单的隐藏域，请求参数等。这个标志可以通过 <code>req.csrfToken()</code>方法进行校验。
  
  p.
    <code>bodyParser()</code> 中间件产生的 <code>req.body</code> , <code>query()</code>产生的<code>req.query</code>,请求头里的"X-CSRF-Token"是默认的 <code>value</code> 函数检查的项

  p.
    这个中间件需要session支持，因此它的代码应该放在<code>session()</code>之后.
