section
  h3(id='req.route') req.route

  p.
    这个对象里是当前匹配的 <code>Route</code> 里包含的属性，比如原始路径字符串，产生的正则，等等

  +js.
    app.get('/user/:id?', function(req, res){
      console.log(req.route);
    });

  p.
    上面代码的一个输出:

  +js.
    { path: '/user/:id?',
      method: 'get',
      callbacks: [ [Function] ],
      keys: [ { name: 'id', optional: true } ],
      regexp: /^\/user(?:\/([^\/]+?))?\/?$/i,
      params: [ id: '12' ] }
