section
  h3(id='req.is') req.is(type)

  p.
    检查请求的文件头是不是包含"Content-Type" 字段, 它匹配给定的<code>type</code>.

  +js.
    // With Content-Type: text/html; charset=utf-8
    req.is('html');
    req.is('text/html');
    req.is('text/*');
    // => true
    
    // When Content-Type is application/json
    req.is('json');
    req.is('application/json');
    req.is('application/*');
    // => true
    
    req.is('html');
    // => false
