section
  h3(id='res.attachment') res.attachment([filename])
  
  p.
    设置响应头的Content-Disposition 字段值为 "attachment".
    如果有<code>filename</code> 参数，Content-Type 将会依据文件扩展名通过<code>res.type()</code>自动设置,
    并且Content-Disposition的"filename="参数将会被设置 

  +js.
    res.attachment();
    // Content-Disposition: attachment

    res.attachment('path/to/logo.png');
    // Content-Disposition: attachment; filename="logo.png"
    // Content-Type: image/png
