section
  h3(id='res.json') res.json([status|body], [body])
  
  p.
    返回一个 JSON 响应。
    当<code>res.send()</code> 的参数是一个对象或者数组的时候，
    会调用这个方法。
    当然它也在复杂的空值(null, undefined, etc)JSON转换的时候很有用，
    因为规范上这些对象不是合法的JSON。

  +js.
    res.json(null)
    res.json({ user: 'tobi' })
    res.json(500, { error: 'message' })
