.oldbooks
  a(target="_blank", href="http://s.2.taobao.com/list/list.htm?&usernick=yh1083103665")
    span.strong 九
    | 成新
    span.strong 技术书
    br
    span.strong 三折
    | 甩卖
script.
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?47a437a0834ace3da0dac1156ed8369f';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

a#top(href='#')
  img(src='/images/arrow.png')

footer
  #footer-content
    © 2012 TJ Holowaychuk. 版权所有. 
    a(href="http://jser.me")草依山
    翻译

