script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25235225-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + unescape("hm.baidu.com/h.js%3F467c8a7e69297ef8967311f5c8d52672');
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

a#top(href='#')
  img(src='images/arrow.png')

footer
  #footer-content
    © 2012 TJ Holowaychuk. 版权所有. 
    a(href="http://jser.me")草依山
    翻译

