script.
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?47a437a0834ace3da0dac1156ed8369f';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

a#top(href='#')
  img(src='images/arrow.png')

footer
  #footer-content
    © 2012 TJ Holowaychuk. 版权所有. 
    a(href="http://jser.me")草依山
    翻译

