link(rel='stylesheet', href='/style.css')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name="keywords", content="node.js express 中文文档, node express 中文, node express中文文档, express 翻译 api, expressjs 文档, exress框架 中文手册, node expressjs 中文文档, expressjs 中文文档, node express中文, Express框架的中文, express 中文 node, node.js网络应用, express node 文档, express.js 中文, express 中文文档")
script(src='http://libs.baidu.com/jquery/1.7.2/jquery.js')
script(src='/app.js')
script(src='/retina.js')
