
include mixins

nav.clearfix
  +item('/') 首页
  +item('/api.html') API 参考
  +item('/guide.html') 新手指南 
  +item('/applications.html') 应用展示
  +item('/community.html') 社区
  +item('/faq.html') 问答
  +item('http://weibo.com/1826461472/z7UXdDfji#pl_profile_nav') 翻译反馈 
