
mixin item(url)
  a(href=url, class=active == url ? 'active' : '', target=url.indexOf('http://')>-1 ? '_blank' : '_self') 
    block

mixin js
  pre.js
    code
      block

mixin logo(name)
  li
    img(src='./images/apps/logos/#{name}.png')

mixin shell
  pre.sh
    code
      block
